<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"sharkpulse/main-banner"} /-->
<!-- wp:pattern {"slug":"sharkpulse/features-default"} /-->
<!-- wp:pattern {"slug":"sharkpulse/payment-methods"} /-->
<!-- wp:pattern {"slug":"sharkpulse/testimonials-default"} /-->
<!-- wp:pattern {"slug":"sharkpulse/icon-box-default"} /-->
<!-- wp:pattern {"slug":"sharkpulse/team"} /-->
<!-- wp:pattern {"slug":"sharkpulse/get-started"} /-->
<!-- wp:pattern {"slug":"sharkpulse/contacts"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->