<!-- wp:group {"tagName":"main","ploverBlockID":"9ed27f2b-1626-41c5-913a-3ef339386991","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull">
    <!-- wp:pattern {"slug":"nexal/header-with-video-background"} /-->
    <!-- wp:pattern {"slug":"nexal/features-with-icon-4-col"} /-->
    <!-- wp:pattern {"slug":"nexal/destinations-card-4-col"} /-->

    <!-- wp:group {"ploverBlockID":"c5744eeb-9295-45c9-aee7-c57feec50cd8","className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|2-x-large","bottom":"var:preset|spacing|2-x-large"},"blockGap":"var:preset|spacing|large"},"elements":{"link":{"color":{"text":"var:preset|color|neutral-800"}},"heading":{"color":{"text":"var:preset|color|neutral-950"}}}},"backgroundColor":"neutral-200","textColor":"neutral-800","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-default has-neutral-800-color has-neutral-200-background-color has-text-color has-background has-link-color"
        style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--2-x-large);padding-bottom:var(--wp--preset--spacing--2-x-large)">
        <!-- wp:pattern {"slug":"nexal/left-media-and-text"} /-->
        <!-- wp:pattern {"slug":"nexal/right-4-media-and-list"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:pattern {"slug":"nexal/fixed-background-subscribe-banner"} /-->
    <!-- wp:pattern {"slug":"nexal/heading-text-and-bottom-media"} /-->
    <!-- wp:pattern {"slug":"nexal/testimonials-2-col"} /-->
    <!-- wp:pattern {"slug":"nexal/dark-team-members-4-col"} /-->
    <!-- wp:pattern {"slug":"nexal/featured-call-to-action-grid"} /-->
    <!-- wp:pattern {"slug":"plover/faq"} /-->
    <!-- wp:pattern {"slug":"plover/latest-3-posts"} /-->

    <!-- wp:template-part {"slug":"footer-dark","tagName":"footer","area":"footer"} /-->
</main>
<!-- /wp:group -->